#social_networks_footer 
{
    margin-right: 70px;
}

#social_networks_footer ul 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  
 #social_networks_footer ul li 
 {
    list-style: none;
}
  
#social_networks_footer ul li a 
{
    width: 70px;
    height: 70px;
    background-color: #fff;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}
  
#social_networks_footer ul li a .icon 
{
    position: relative;
    color: rgb(20,20,20);
    transition: .5s;
    z-index: 3;
}
  
#social_networks_footer  ul li a:hover .icon 
{
    color: #fff;
    transform: rotateY(360deg);
}
  
#social_networks_footer ul li a:before 
{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .8s;
    z-index: 2;
}
  
#social_networks_footer  ul li a:hover:before 
{
    top: 0;
}
  
#social_networks_footer  ul li:nth-child(1) a:before
{
    background: #3b5999;
}
  
#social_networks_footer ul li:nth-child(2) a:before
{
    background: rgb(193,53,132);
}
